<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://beust.com/testng/testng-1.0.dtd" >

<suite name="Testing" verbose="1">  
	<test name="service">
		<classes>
			<class name="com.testdemo.web.service.UserServiceNGTest" />
			
		</classes>
	</test> 
	<test name="controller">
		<classes>
			<class name="com.testdemo.web.controller.UserLoginControllerNGTest" />
			
		</classes>
	</test> 
</suite>